.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 5%;
  background-color: #f3f6f6;
  }
  .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1024px;
  }
  .footer_logo{
    width: 80px;
    cursor: pointer;
  }
  .footer_dev{
    color:#000;
    cursor: default;
  }
  .footer_myLink{
    margin-left: 4px;
    text-decoration: none;
    color: #931680;
    border-bottom: 1px solid rgba(147,22,128,.2);
    transition:  border-bottom .2s;
  }
  .footer_myLink:hover{
    border-bottom-color: #931680;
    transition:  border-bottom .2s;
  }

  @media(max-width:700px){
    .footer{
      height: 50px;
      font-size: 14px;
      padding-bottom: 12px;
    }
    .footer_logo{
      width: 60px;
    }
  }