.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 18px;
  margin-bottom: 4px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 10px 10px 7px 0px rgba(84, 84, 84, 0.15);
  overflow: hidden;
}
.card_heading{
  display: flex;
  align-items: center;
}
.card_number{
  font-size: 18px;
  font-weight: 600;
  margin-right: 2%;
}
.card_description{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card_btn{
  position: relative;
  align-self: flex-end;
  top: 11px;
  left: 20px;
  border-top-left-radius: 15px;
  overflow: hidden;
}
