.taskPage_section{
  padding: 15px 30px 50px;
  background-image: url('https://lk.picasso-diagnostic.ru/maintence-bg.6117f2c8c11d94f4ae64.jpg');
}
.task_text{
  text-indent: 20px;
  margin-bottom: 10px;
}